<!DOCTYPE html>
<html lang="it">
<head>
  <title>CALCOLO SEMPLIFICATO DELLA POTENZA TERMICA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <style>
    body{
      background: url("img/bg-pattern.png"), #7b4397;
      background: url("img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: url("img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430); }
    }
    .container {
      background-color: white;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container" ng-app="myApp" ng-controller="tableCtrl">
    <h2>CALCOLO SEMPLIFICATO DELLA POTENZA TERMICA</h2>
    <p>NORME ASRAHE 62-1989:</p>

    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrizione</th>
          <th>Valore</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><label for="ricambioaria">Ricambio Aria Orario Consigliato: </label></td>
          <td><input type="text" ng-model="ricambiodariaorario"/></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><label for="riscaldamento">In riscaldamento: </label></td>
          <td><input type="text" ng-model="Inriscaldamento" /></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><label for="riscaldamento">Differenza Termica Interno-Esterno: </label></td>
          <td><input type="text" ng-model="differenzatermica" /></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><label for="riscaldamento">Resa Termica radiatore di: </label></td>
          <td><input type="text" ng-model="resatermica" /></td>
        </tr>
      </tbody>
    </table>



    </br/>


    </br/>



    <table class="table">
      <thead>
        <tr>
          <th>Locale</th>
          <th>Superfici (mq)</th>
          <th>Altezza (ml)</th>
          <th>Volume (mc)</th>
          <th>Aria di ric. (mc/h)</th>
          <th>Pot. Risc, (Kcal/h)</th>
          <th>Pot.Tot. (Kcal/h)</th>
          <th>N. colonnine (per locale)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in rows">
          <td><input type="text" ng-model="id" ng-value="0" /></td>
          <td><input type="text" ng-model="value.area" ng-change="updateRow($index)"/></td>
          <td><input type="text" ng-model="value.height" ng-change="updateRow($index)"/></td>
          <td>{{value.volume}}</td>
          <td>{{value.volume*ricambiodariaorario}}</td>
          <td>{{value.volume*Inriscaldamento}}</td>
          <td>{{(0.3*value.volume*ricambiodariaorario*differenzatermica)+value.volume*Inriscaldamento}}</td>
          <td >
            {{ ((0.3*value.volume*ricambiodariaorario*differenzatermica)+value.volume*Inriscaldamento)/resatermica * 1.1 }}
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="addRow()">Add row</button>
  </div>

</body>

<script type="text/javascript">
  var app = angular.module('myApp', []);
  app.controller('tableCtrl', function($scope) {
      $scope.ricambiodariaorario = 0;
      $scope.Inriscaldamento = 0;
      $scope.differenzatermica = 0;
      $scope.resatermica = 0;
      $scope.rows = {
                      0:{volume: 0}
                    };
      $scope.updateRow = function (i){
        var vol = $scope.rows[i].area*$scope.rows[i].height;
        if(!isNaN(vol)){
          $scope.rows[i].volume = vol
        }

      }
      $scope.addRow = function(){
        $scope.rows[Object.keys($scope.rows).length] = {volume: 0};
      }
  });
</script>

</html>
